<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head') -%>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') -%>

    <div><%- include(content) -%></div>

    <%- include('footer') -%>
  </body>
  <!-- <script src="<%= process.env.BASE_URL %>javascript/homeStaff.js"></script> -->
  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="../../public/jquery/jquery.min.js"></script>
  <script src="../../public/bootstrap/js/bootstrap.min.js"></script>

  <script src="../../public/javascript/isotope.min.js"></script>
  <script src="../../public/javascript/owl-carousel.js"></script>
  <script src="../../public/javascript/tabs.js"></script>
  <script src="../../public/javascript/popup.js"></script>
  <script src="../../public/javascript/custom.js"></script>
</html>
